*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(120deg, #1E293B, #721717);
}


.navbar {
    padding: 16px 48px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    z-index: 999;
}

.navbar h1 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
    color:#F8FAFC;
    cursor: pointer;
}

nav ul {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 3.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: flex;
    align-items: center;
}

nav li a {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 12px 16px;
    text-decoration: none;
    color: rgb(255, 249, 249);
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
}

nav li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #be1212;
    transition: width 0.3s ease;
}

nav li a:hover {
    color: rgba(255, 251, 251, 0.582);
}

nav li a:hover::after {
    width: 100%;
}

.hero-text {
    flex: 1;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 20%;
    margin-bottom: 150px;
    gap: 40px;
}

.hero-text h1 {
    font-size: 42px;
    font-weight: 700;
    color: #111111;
}

.hero-text h1 span {
    color:#dde7ee;
}

.hero-text h2 {
    font-size: 24px;
    /* color:blanchedalmond; */
    background: linear-gradient(45deg, rgb(160, 155, 155), rgb(255, 250, 250));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
    white-space:  nowrap;
    overflow: hidden;
    position: relative;
    animation: typingLoop 4s steps(24) infinite;
}

.hero-text h2::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background: rgb(255, 253, 251);
    animation: cursorBlink 0.7s infinite;
}

@keyframes typingLoop {
    0% {width: 0ch; }
    40% {width: 17ch; }
    60% {width: 17ch; }
    100% {width: 0ch; }
}

@keyframes cursorBlink {
    50% {opacity: 0; }
}

.hero-text p {
    font-size: 14px;
    margin-top: 10px;
    max-width: 600px;
    font-weight: 400;
    letter-spacing: 1px;
    color:#dde7ee;
}

.hero-icons {
    margin: 20px;
}

.hero-icons ul {
    display: flex;
    gap:40px;
    list-style: none;
}

.hero-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F8FAFC;
    color: black;
    font-size: 24px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.hero-icons a:hover {
    background-color: #1E293B;
    color: #F8FAFC;
    transform: translateY(-3px);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
}

.hero-button {
    margin-top: 20px;
    display: inline-block;
}

.btn-primary {
    font-size: 24px;
    font-weight: 600;
    padding: 5px 24px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 0.5px;
    border-radius: 14px;
    display: inline-block;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #1E293B;
    color: white;
    transform: translateY(-3px);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
} 

.hero-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img img {
    width: 360px;
    height: auto;
    margin-bottom: 50px;
    border-radius: 50%;
    background: linear-gradient(120deg, #1E293B, #721717);
}


.container-skills {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    padding: 3rem 2rem;
    gap: 2rem;
}

.container-skills h2 {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #F8FAFC;
    }


.card {
    width: auto;
    padding: 1rem;
    background: rgb(199, 196, 196);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.15);
}

.card img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    display: block;
}

.container-about {
    padding: 3rem 3rem;
    margin: 100px auto;
    max-width: 1200px;
    display: grid;
    grid-template-areas:
    'about-text about-photo';
    justify-content: center;
    align-items: center;
    gap: 70px;

}

.about-text {
    max-width: 500px;
    grid-area: about-text;
    border-radius: 12px;
    background: linear-gradient(180deg, #721717, #1e293b3b);
    padding: 20px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    
}

.about-text h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    background: linear-gradient(135deg, #F8FAFC, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
    
.about-text p {
    text-align: start;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(230, 215, 215);
}

.about-photo {
    width: 400px;
    height: 400px;
    grid-area: about-photo;
    background: linear-gradient(130deg, rgba(218, 32, 32, 0.062), rgba(255, 255, 255, 0.39));
    border-radius: 16px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-photo img {
    width: 400px;
    height: 400px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.about-photo img:hover {
    transform: scale(1.11);
}

.container-achievment {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1300px;
}

.container-achievment h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    color: #F8FAFC;
}

.achievment-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 420px));
    justify-content: center;
    place-items: center;
    gap: 30px;
}

.achievment-card {
    width: 300px;
    height: 200px;
    border-radius: 12px;
    background-color: #721717;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    cursor: zoom-in;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.achievment-card:hover {
    background-color: #1E293B;
    transform: translateY(-5px) scale(1.01);
    box-shadow: 0 10px 30px rgb(255, 1, 1);
}

.achievment-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    padding: 10px;
}

.cert-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(10px);
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal-content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.8);
    animation: zoomIn 0.3s ease;
}

@keyframes zoomIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.modal-info {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.1);
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 14px;
    backdrop-filter: blur(10px);
}

.footer {
    width: 100%;
    margin-top: 100px;
    background: #1a1a1a;
    color: #ffffff;
    padding: 20px 20px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-top {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #333;
}

.footer-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}

.footer-email {
    font-size: 1rem;
    color: #888;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-email:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    font-size: 0.9rem;
    color: #888;
}


.footer-right {
    text-align: end;
    padding: 0 10px;
}